* {
    margin: 0px;
    padding: 0px;
}

li {
    list-style-type: none;
}

.course {
    width: 220px;
    border: 1px solid #aacbee;
    padding: 0px 0px 10px 0px;
    background-color: #f5f9fc;
    margin: 0px auto;
}

.title {
    background: url(../img/test26/title_icon.gif) 5px 8px no-repeat;
    padding-left: 25px;
    color: #1f376d;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
}

.course ul {
    padding: 0px 5px;
}

.course ul li {
    height: 30px;
    background: url(../img/test26/submenu.gif) right center no-repeat;
    line-height: 30px;
    padding-left: 5px;
    border-top: 1px solid #cfe2f5;
}

.course ul a {
    text-decoration: none;
    color: #000000;
}

.course ul a:hover {
    text-decoration: none;
    color: #FF6215;
}
