li h4:nth-of-type(1) {
    font-size: 16px;
    color: #4d4d4d;
}

li p:nth-of-type(1) {
    font-size: 14px;
    color: #640000;
}

li p:nth-of-type(2) {
    font-size: 12px;
    color: blue;
}

* {
    margin: 0px;
    padding: 0px;
}

.box {
    width: 1000px;
    margin: 50px auto;
}

h3 {
    font-size: 18px;
    line-height: 40px;
}

li {
    display: inline-block;
    padding: 10px;
    margin-right: 5px;
}

li img {
    border-radius: 10px;
}

li h4:nth-of-type(1) {
    font-size: 16px;
    color: #4d4d4d;
    line-height: 30px;
}

ul li:hover {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 0 10px 0 rgba(0,0,0,0.2);
}
