h1 {
    font-size: 22px;
    font-family: "宋体";
    text-shadow: rgba(0,0,0,0.5) 2px 2px 2px;
    text-align: center;
}

h2 {
    color: gray;
    font-size: 18px;
    text-align: center;
    line-height: 30px;
}

p {
    text-indent: 2em;
}

.pic {
    text-align: center;
}

.time {
    font-size: 12px;
    text-align: center;
    line-height: 30px;
}

.second {
    color: #FF0000;
}