#searchMenu {
    text-align: center;
    margin: 20px 0px;
}

body {
    margin-top: 0px;
}

#img {
    margin-top: 5px;
}

#header>p {
    padding: 2px;
    margin: 0px;
    background-color: #ffd700;
    text-align: right;
    font-size: 15px;
    color: #868585;
}

#header p span {
    margin-left: 20px;
}

#header p span a {
    text-decoration: none;
    color: #868585;
}

#header p span a:hover {
    color: #ff0000;
}


#searchMenu img:nth-of-type(1) {
    float: left;
}
#searchMenu img:nth-of-type(2) {
    float: right;
}

header {
    position: relative;
}

#search {
    padding: 10px;
    margin-top: 20px;
    width: 500px;
    border: 2px solid #ffd700;
    border-radius: 10px 0 0 10px;
}



#searchMenu a {
    background-color: #ffd700;
    padding: 2.23px 15px;
    color: #000;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    top: 234px;
    left: 1160px;
    height: 34px;
    text-align: center;
    border-radius: 0 10px 10px 0;
}

#nav {
    clear: both;
}

#nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: auto;
    background-color: #FFD700;
}

#nav ul li {
    float: left;
}

#nav ul li a,
.dropbtn {
    display: inline-block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    margin: 0 58.2px;
}

#nav ul li:hover,
.dropdown:hover,
.dropbtn:hover {
    background-color: #e68f25;
}

.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 180px;
    /* box-shadow: 0px 16px 0px rgba(0, 0, 0, 0.2) */
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #929191
}

.dropdown:hover .dropdown-content {
    display: block;
}

#nav ul li:nth-of-type(2) {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

#nav ul li:nth-of-type(4) {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

#nav ul li:nth-of-type(6) {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

#nav ul li:nth-of-type(8) {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

#nav ul li:nth-of-type(9) {
    border-right: 2px solid #fff;
}

#pic img {
    width: 100%;
}

#pic {
    margin: 20px 0px;
}

#choise>img {
    float: left;
}

#picList li {
    float: left;
    /* display: inline; */
    margin: 10px 10px;
    list-style-type: none;
}

#picList li p {
    font-size: 15px;
}

#picList li p span,
#domestic li p span,
#foreign li p span {
    font-size: 16px;
    color: #ff0000;
}

#domestic>img {
    float: left;
}

#picList1 li {
    float: left;
    /* display: inline; */
    margin: 10px 30px;
    list-style-type: none;
}

#domestic img:nth-of-type(2) {
    margin: 30px 40px;
}

#foreign>img {
    float: left;
}

#foreign li {
    float: left;
    /* display: inline; */
    margin: 10px 30px;
    list-style-type: none;
}

#foreign img:nth-of-type(2) {
    margin: 30px 40px;
}


.clear:after {
    content: '';
    display: block;
    clear: both;
}


#last {
    background-color: #3D3D3F;

}

#last1,
#last2,
#last3,
#last4 {
    display: inline-block;
    vertical-align: middle;
    margin: 20px 100px;
}

#last1 {
    margin-left: 250px;
}

h4 {
    margin: 0px;
    padding: 0px;
}

#last1 img,
#last2 img,
#last3 img,
#last4 img {
    margin: 0px auto;
}

#box1,
#box2,
#box3,
#box4 {
    display: inline-block;
    /* margin: 0 auto; */
    /* margin: 50px auto; */
}

#footer {
    background-color: #FFD700;
}

#footer p {
    text-align: center;
    color: #000;
    font-size: 12px;
    line-height: 40px;
    margin-top: 5px;
}