#searchMenu {
    text-align: center;
    margin: 20px 0px;
}

#searchMenu img:nth-of-type(1) {
    float: left;
}

#searchMenu img:nth-of-type(3) {
    float: right;
}

#nav {
    text-align: center;
    margin: 20px 0px;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #FFD700;
}

#nav ul li {
    float: left;
    width: 186.9px;
    /* display: inline-block; */
    
}

#nav ul li a {
    display: block;
    color: #000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



#nav ul li:nth-of-type(2) {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

#nav ul li:nth-of-type(4) {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

#nav ul li:nth-of-type(6) {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

#nav ul li:nth-of-type(8) {
    border-right: 2px solid #fff;
    border-left: 2px solid #fff;
}

#nav ul li:nth-of-type(10) {
    border-left: 2px solid #fff;
}

#nav ul li a:hover {
    background-color: #FFF900;
}

#pic img {
    width: 100%;
}

#pic {
    margin: 20px 0px;
}

#choise>img {
    float: left;
}

#picList li {
    float: left;
    /* display: inline; */
    margin: 10px 10px;
    list-style-type: none;
}

#picList li p {
    font-size: 15px;
}

#picList li p span ,#domestic li p span,#foreign li p span{
    font-size: 16px;
    color: #ff0000;
}

#domestic>img {
    float: left;
}

#picList1 li {
    float: left;
    /* display: inline; */
    margin: 10px 30px;
    list-style-type: none;
}

#domestic img:nth-of-type(2) {
    margin: 30px 40px;
}

#foreign>img {
    float: left;
}

#foreign li {
    float: left;
    /* display: inline; */
    margin: 10px 30px;
    list-style-type: none;
}

#foreign img:nth-of-type(2) {
    margin: 30px 40px;
}


.clear:after{
    content: '';        
    display: block;     
    clear: both;         
}


#last {
    background-color: #3D3D3F;
    height: 100px;
    padding-left: 400px;
}



#last ul li {
    float: left;
    margin: 20px 60px;
}

#last ul {
    list-style: none;
}

#last ul li span {
    margin:auto;
}






